[project]
name = "{{package-name}}"
version = "0.0.1"
description = "{{package_description}}"
authors = [
    {name = "{{package_author}}"}
]
license = "{{package_license}}"
requires-python = ">=3.10"
dependencies = [
]


[build-system]
requires = ["poetry-core>=2.0.0,<3.0.0"]
build-backend = "poetry.core.masonry.api"
